.head
	.row
		.large-3.columns.logoC
			.logo
		.menu.large-6.columns

			//- .large-4.small-4.columns.nonCurr
			//- 	.menu-item.work
			//- 	span.menu-name Work
			//- .large-4.small-4.columns.nonCurr
			//- 	.menu-item.blog
			//- 	span.menu-name Blog
			//- .large-4.small-4.columns.nonCurr
			//- 	.menu-item.resume
			//- 	span.menu-name Resumé

.space-bg
	.row.space-text-row
		.large-8.large-centered.columns.space-container
			.large-5.small-12.columns.space-text
				span Computer Engineering
			.large-2.small-12.columns.ampersand
				span &
			.large-5.small-12.columns.space-text
				span Application Development

.one-container
	.row.description-row
		.description2.large-12.columns
			span
				| Techie by heart. Detail-oriented, organized, flexible and able to meet deadlines
				| in a fast paced environment. Looking to obtain a summer internship or a suitable
				| co-op program. Something that would help me gain significant experience and allow me to
				| deploy and demonstrate valueable technical skills in a real world work environment
			hr

	.row.education-row
		.education.large-12.columns
			span Education

	.row.section-descrip
		.large-12.small-12.columns.descrip-boxes
			.descrip-box
				.image-container
					img(src="img/illinois.png")
				.description2
					span University of Illinois at Urbana-Champaign
					span.type-major Computer Engineering
					span.type-misc ECE391 • ECE210 • CS465
					span.type-misc ECE110 • ECE190 • ECE290 • CS173 • CS225
					.info-button
						span info

			.descrip-box
				.image-container
					img(src="img/dps.png")
				.description2
					span Delhi Public School R.K. Puram
					span.type-major High School
					br
					.info-button
						span info

.one-container.white
	.row.education-row
		.education.large-12.columns
			span Experience

	.row.fluid.section-descrip.scrollable
		.grad-overlay
		.fluid-container
			.box-container.yahoo
				span Technical Intern
				.info-button
					span info
			.box-container.sf
				span Co-Founder
				.info-button
					span info
			.box-container.frc
				span Technical Intern
				.info-button
					span info
			.box-container.ep
				span UI/UX Designer
				.info-button
					span info
			.box-container.paytm
				span Lead iOS Developer
				.info-button
					span info

			br
			.horizontal-timeline
			br

			.spot
			.spot.current
			.spot.current
			.spot
			.spot
			br

			span.dates Summer 2013
			span.dates 2013-Current
			span.dates 2012-Current
			span.dates 2012-2013
			span.dates Summer 2012

.one-container.with-bg
	.row.education-row
		br
		br
		br
		.education.large-12.columns
			span(style="color:#fff;") Technical Skills

	.row.skills
		.skill-grid
			ul.pricing-table.large-6.small-12.columns
				li.title
					span Front End
				li.description
					span Web Design
				li.bullet-item
					.tech-logo(image="html.png")
					span HTML5/CSS3
					.experience(image="green_48.png",experience='9')
				li.bullet-item
					.tech-logo(image="js.png")
					span Javascript
					.experience(image="green_48.png",experience='7')
				li.bullet-item
					.tech-logo(image="jquery.png")
					span JQuery
					.experience(image="green_48.png",experience='8')
				li.bullet-item
					.tech-logo(image="backbone.png")
					span Backbone.JS
					.experience(image="grey_48.png",experience='5')
				li.cta-button
					.info-button
						span All other skills

			ul.pricing-table.large-6.small-12.columns
				li.title
					span Back End
				li.description
					span Web servers & Applications
				li.bullet-item
					.tech-logo(image="mongo.png")
					span MongoDB
					.experience(image="green_48.png",experience='9')
				li.bullet-item
					.tech-logo(image="node.png")
					span Node.JS
					.experience(image="green_48.png",experience='7')
				li.bullet-item
					.tech-logo(image="django.png")
					span Django
					.experience(image="yellow_48.png",experience='6')
				li.bullet-item
					.tech-logo(image="flask.png")
					span Flask
					.experience(image="grey_48.png",experience='5')
				li.cta-button
					.info-button
						span All other skills

			ul.pricing-table.large-6.small-12.columns
				li.title
					span Programming
				li.description
					span Generic Programming Languages
				li.bullet-item
					.tech-logo(image="c.png")
					span C/C++
					.experience(image="green_48.png",experience='9')
				li.bullet-item
					.tech-logo(image="python.png")
					span Python
					.experience(image="green_48.png",experience='8')
				li.bullet-item
					.tech-logo(image="objective.png")
					span Obj-C (iOS)
					.experience(image="yellow_48.png",experience='6')
				li.bullet-item
					.tech-logo(image="java.png")
					span Java
					.experience(image="grey_48.png",experience='4')
				li.cta-button
					.info-button
						span All other skills

			ul.pricing-table.large-6.small-12.columns
				li.title
					span UI/UX Design & Media
				li.description
					span Everything design.
				li.bullet-item
					.tech-logo(image="photoshop.png")
					span Photoshop
					.experience(image="green_48.png",experience='9')
				li.bullet-item
					.tech-logo(image="ae.png")
					span After Effects
					.experience(image="green_48.png",experience='9')
				li.bullet-item
					.tech-logo(image="cinema.png")
					span Cinema4D (3D)
					.experience(image="yellow_48.png",experience='7')
				li.bullet-item
					.tech-logo(image="flash.png")
					span Flash
					.experience(image="yellow_48.png",experience='6')
				li.cta-button
					.info-button
						span All other skills

			br
			span.skills-other Other Technical Skills
			br
			.misc-skill(image="github.png")
			.misc-skill(image='coffeescript.png')
			.misc-skill(image='terminal.png')
			.misc-skill(image='aws.png')
			.misc-skill(image='ras.png')
			.misc-skill(image='arduino.png')
			.misc-skill(image='fpga.png')
			.misc-skill(image='maya.png')
			.misc-skill(image='foundation.png')

.one-container.white
	.row.education-row
		br
		br
		br
		.education.large-12.columns
			span Miscellaneous Activities

	.row.misc
		ul.misc-tables
			li Designed an Arduino based autonomous car
			li Co-Authored an unpublished paper on Onion Routing
			li Received funding from IEEE for a project
			li Member ACM, IEEE

include includes/footer