.cta-section
	.row.cta-row
		span.title-text
			| I LOVE MEETING NEW PEOPLE!
		span.p-text
			| Want to work together or chat just about anything? Get in touch!
		br
		nobr
			span.contact-text.large-6.columns.entypo-mobile.icon(style='color:#EA2E49;')
				| &nbsp(+1)-217-979-8200
			span.contact-text.large-6.columns.entypo-mail.icon.mail
				a(href="mailto:mail@prath.am")
					| &nbspmail@prath.am

.one-container.footer
	.row.education-row
		br
		br
		br
		.education.large-12.columns
			span(style='color:#fff;')
				| The Obligatory Footer

		a(href="mailto:mail@prath.am")
			span.entypo-mail.icon
		a(href="http://dribbble.com/pagrawl3")
			span.entypo-dribbble.icon
		a(href="http://github.com/pagrawl3")
			span.entypo-github.icon
		a(href="http://twitter.com/prathamdesign")
			span.entypo-twitter.icon

	span.copyright
		| © 2013 Pratham Agrawal