.recent-section(data-stellar-background-ratio="0.5")
	.row
		.header-text 404!
		.post
			.highlighted-text UNDER CONSTRUCTION
			br
			p
				| Hey I'm still building my website and a lot of its not done yet.
				| There are a ton of bugs so if you find any please email me!
				| Thank you and stay tuned.

			a(href="mailto:mail@prath.am")
				.entypo-mail.icon

include includes/footer