.body(data-stellar-background-ratio="0.2")
	.row
		.large-12.columns.header-logo
			.logo
			br
			.logo-name
				| PRATHAMS
				i AGRAWAL
			p
				| Eloquent opener about me doing ridiculously awesome
				| graphic design & web development.
			a(href='http://www.twitter.com/prathamdesign')
				span.zocial-twitter.twit
					| &nbsp@prathamdesign
	hr
	.row.menu
		a.menu_cta(href="/work")
			.large-4.columns.menu-item
				.work.menu-logo
				br
				span.name Work

		a.menu_cta(href="/blog")
			.large-4.columns.menu-item
				.blog.menu-logo
				br
				span.name Blog

		a.menu_cta(href="/resume")
			.large-4.columns.menu-item
				.resume.menu-logo
				br
				span.name Resumé

.recent-section(data-stellar-background-ratio="0.5")
	.row
		.header-text RECENTLY
		.post
			.highlighted-text I NEED A DRIBBBLE INVITE!
			br
			.icon-link
			p
				| If one of you awesome folks is a member of the dribbble community, do keep me
				| in mind when drafting designers. If you think I’m not there yet, please let me
				| know why, I’d really appreciate it.

			a(href="http://dribbble.com/pagrawl3")
				.entypo-dribbble.icon
			a(href="mailto:mail@prath.am")
				.entypo-mail.icon

include includes/footer